.col-1-main {
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  gap: 20px;
  padding: 25px;
}
.main {
  width: 75%;
  height: 300px;
  border: 1px solid black;
  box-shadow: 5px 10px 18px #888888;
  transition: calc(1.5);
  text-align: start;
  padding: 10px;
  font-size: large;
  font-weight: normal;
  transition: width 2s, height 4s;
}
.main:hover {
  width: 80%;
  height: 335px;
}
.col-1 {
  display: flex;
  justify-content: space-between;
}
img {
  border-radius: 50%;
  height: 80px;
  width: 60%;
}
.col-1-date {
  display: flex;
  gap: 30px;
}
.col-1-select {
  text-align: start;
  padding: 20px;
  font-size: large;
  
}


.btn-home-leave {
  display: flex;
  justify-content: space-between;
}
.editLeave {
  height: 35px;
  width: 100%;
  background-color: green;
  color: white;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.deleteLeave {
  height: 35px;
  width: 100%;
  background-color: red;
  color: white;
  font-size: large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.filter-btn-home{
  height: 40px;
  width: 10%;
  background-color: #888888;
  color: white;
  padding: 5px;
}
