table {
  width: 100%;
  height: 120px;
  margin: auto;
  font-size: large;
}
thead {
  width: 100%;
  height: 100px;
}
table,
tr,
th {
  border: 1px solid black;
}
.createLeave {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
