.mainContainer {
  width: 100%;
  height: 20px;
  padding: 30px;
  border: 1px solid black;
  display: flex;
  gap: 70%;
  font-size: larger;
}
.nav {
  display: flex;
  gap: 20px;
  font-size: large;
}
a {
  text-decoration: none;
  font-size: larger;
}
