.mainContainer {
  width: 96%;
  height: 25px;
  padding: 30px;
  border: 1px solid black;
  display: flex;
  gap: 63%;
  font-size: larger;
}
.nav {
  display: flex;
  gap: 25px;
  font-size: large;
}
a {
  text-decoration: none;
  font-size: larger;
  color: lightseagreen;
}
.logoapp{
  font-size: larger;
  font-weight: bold;
  color: #191970;
  
  
  
 
}
